#Django
DJANGO_SECRET_KEY=example
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

#CORS
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost:4200
DJANGO_CORS_ALLOWED_ORIGINS=http://127.0.0.1,http://localhost:4200
CORS_ALLOWED_ORIGINS=http://127.0.0.1,http://localhost:4200
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost:4200

#Database 
POSTGRES_DB=mydb_example
POSTGRES_USER=postgres_example
POSTGRES_PASSWORD=postgres_example
POSTGRES_HOST=postgres_db_example
POSTGRES_PORT=5432
